:root {
  --clr-reaction: hsl(0, 100%, 67%);
  --bg-reaction: hsla(0, 100%, 67%, 0.5);
  --clr-memory: hsl(39, 100%, 56%);
  --bg-memory: hsla(39, 100%, 56%, 0.5);
  --clr-verbal: hsl(166, 100%, 37%);
  --bg-verbal: hsla(166, 100%, 37%, 0.5);
  --clr-visual: hsl(234, 85%, 45%);
  --bg-visual: hsla(234, 85%, 45%, 0.5);
  --card-bg-gradient: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --circle-bg-gradient: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  --bg-primary: hsl(0, 0%, 100%);
  --bg-secondary: hsl(221, 100%, 96%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(241, 100%, 89%);
  --bg-button: hsl(224, 30%, 27%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  margin: 0;
  min-block-size: 100svh;
  display: grid;
  place-items: center;
}
footer.attribution {
  position: absolute;
  bottom: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: max-content auto;
}
@media (width > 425px) {
  main {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    max-width: 45rem;
    box-shadow: 0px 30px 50px hsla(241, 81%, 54%, 0.1);
    border-radius: 2rem;
  }
}
.result {
  background-image: var(--card-bg-gradient);
  color: var(--text-secondary);
  border-radius: 0px 0px 2rem 2rem;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1.5rem;
  padding: 1.5rem;
}
@media (width > 425px) {
  .result {
    border-radius: 2rem;
    padding: 2.5rem;
    gap: 2.5rem;
  }
}
.result h1 {
  margin: 0;
  font-size: 1.125rem;
}
@media (width > 425px) {
  .result h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.result .average {
  background-image: var(--circle-bg-gradient);
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-content: center;
  width: 8.75rem;
  aspect-ratio: 1;
}
@media (width > 425px) {
  .result .average {
    width: 12.25rem;
  }
}
.result .average > :first-child {
  color: var(--text-primary);
  font-size: 3.375rem;
}
@media (width > 425px) {
  .result .average > :first-child {
    font-size: 4.2rem;
  }
}
.result .remarks {
  text-align: center;
  width: 30ch;
}
@media (width > 425px) {
  .result .remarks {
    width: 25ch;
  }
}
.result .remarks > * {
  margin-block-start: 0;
}
.result .remarks > :first-child {
  margin-block-end: 0.375em;
  color: var(--text-primary);
}
@media (width > 425px) {
  .result .remarks > :first-child {
    font-size: 2rem;
  }
}
.summary {
  display: grid;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  gap: 1.125rem;
  grid-template-rows: max-content auto max-content;
}
@media (width > 425px) {
  .summary {
    padding: 2.5rem;
    gap: 2rem;
  }
}

.summary h3 {
  margin-block: 0;
}
@media (width > 425px) {
  .summary h3 {
    font-size: 1.5rem;
  }
}

.summary button {
  border: none;
  outline: none;
  background-color: var(--bg-button);
  color: var(--text-primary);
  font-size: 1.125rem;
  padding: 1em;
  border-radius: 100rem;
  margin-block: 0.25rem;
  cursor: pointer;
}
.summary button:hover,
.summary button:active,
.summary button:focus-visible {
  background-image: var(--card-bg-gradient);
}

.summary ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 1rem;
}
.summary ul > * {
  display: grid;
  grid-template-columns: max-content auto max-content;
  gap: 0.75rem;
  padding-inline: 1rem;
  align-items: center;
  color: var(--_clr);
  border: none;
  border-radius: 0.5rem;
  background-color: var(--_clr);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.95) 100%,
    transparent
  );
}
@media (width > 425px) {
  .summary ul > * {
    font-size: 1.12rem;
    font-weight: 700;
  }
}
.summary ul li [data-marks] > :first-child {
  color: initial;
}
.summary ul li [data-marks] {
  color: gray;
}
